apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-blue
  namespace: decision-lab
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django
      version: blue
  template:
    metadata:
      labels:
        app: django
        version: blue
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: django
          image: registry.digitalocean.com/decision-lab/django:IMAGE_TAG
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                  name: backend-backend-secrets
            - secretRef:
                name: backend-secrets
          readinessProbe:
            httpGet:
              path: /api/v1/system/health/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/v1/system/health/
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
