apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: django-green-hpa
  namespace: decision-lab
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: django-green
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
