services:
  django:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://app:app@postgres:5432/app
    depends_on:
      - postgres
      - redis
      - rabbitmq

  celery:
    build: .
    command: celery -A config worker -l info
    volumes:
      - .:/app
    environment:
      DATABASE_URL: postgres://app:app@postgres:5432/app
    depends_on:
      - django
      - redis
      - rabbitmq
      - postgres

  celery-beat:
    build: .
    command: celery -A config beat -l info
    volumes:
      - .:/app
    environment:
      DATABASE_URL: postgres://app:app@postgres:5432/app
    depends_on:
      - django
      - redis
      - rabbitmq
      - postgres

  rust-worker:
    build:
        context: ../rust_engine
        dockerfile: Dockerfile
    image: rust-worker:dev
    container_name: backend-rust-worker
    environment:
      MODE: worker
      DATABASE_URL: postgres://app:app@postgres:5432/app
      REDIS_URL: redis://redis:6379
      DJANGO_CALLBACK_URL: http://django:8000/api/v1
    restart: "no"
    depends_on:
      - postgres
      - redis
      - django

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  static_volume:
  postgres_data:
