apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: rust-worker-hpa
  namespace: decision-lab
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: rust-worker
  minReplicas: 1
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
