apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
  namespace: decision-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
        - name: celery
          image: registry.digitalocean.com/decision-lab/django:latest
          command: ["celery", "-A", "config", "worker", "-l", "info"]
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secrets
