apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-beat
  namespace: decision-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-beat
  template:
    metadata:
      labels:
        app: celery-beat
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: celery-beat
          image: registry.digitalocean.com/decision-lab/django:IMAGE_TAG
          command: ["celery", "-A", "config", "beat", "-l", "info"]
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secrets
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
